astroid==1.4.8
audioread==2.1.4
awscli==1.11.41
backports.functools-lru-cache==1.3
basemap==1.0.7
boto==2.42.0
botocore==1.5.4
bz2file==0.98
click==6.6
colorama==0.3.7
configparser==3.5.0
cycler==0.10.0
Cython==0.25.1
decorator==4.0.10
docutils==0.13.1
Flask==0.11.1
funcsigs==1.0.2
futures==3.0.5
gensim==0.13.2
isort==4.2.5
itsdangerous==0.24
Jinja2==2.8
jmespath==0.9.0
joblib==0.10.3
jsonify==0.5
lazy-object-proxy==1.2.2
librosa==0.4.3
MarkupSafe==0.23
matplotlib==1.5.3
mccabe==0.5.2
mock==2.0.0
nltk==3.2.1
numpy==1.11.2
pandas==0.19.1
pbr==1.10.0
protobuf==3.0.0
pyasn1==0.1.9
pydub==0.16.6
pyparsing==2.1.9
python-dateutil==2.5.3
pytz==2016.6.1
PyYAML==3.12
requests==2.11.1
resampy==0.1.4
rsa==3.4.2
s3transfer==0.1.10
scikit-learn==0.18
scipy==0.18.1
seaborn==0.7.1
six==1.10.0
smart-open==1.3.4
sugartensor==0.0.1.9
tensorflow==0.11.0
tqdm==4.10.0
virtualenv==15.1.0
Werkzeug==0.11.11
wrapt==1.10.8
